html {
  background: #018ded url("back.jpeg");
  background-size: cover;
  font-family: "Comfortaa", "Times New Roman", serif, cursive;
  text-align: center;
  font-size: 10px;
  color:aliceblue;
}

body {
  margin: 0;
  font-size: 2rem;
  display: flex;
  flex: 1;
  min-height: 100vh;
  align-items: center;
}

.clock {
  width: 50rem;
  height: 50rem;
  border: 10px solid white;
  border-radius: 50%;
  margin: 50px auto;
  position: relative;
  padding: 2rem;
  box-shadow: 0 0 0 4px rgba(0, 0, 0, 0.1), inset 0 0 0 3px #efefef,
    inset 0 0 10px black, 0 0 10px rgba(0, 0, 0, 0.2);
}

.clock-face {
  position: relative;
  width: 100%;
  height: 100%;
  transform: translateY(-3px); /* account for the height of the clock hands */
}

.hand {
  width: 50%;
  /* height: 10px; */
  background: black;
  position: absolute;
  top: 50%;
  /* font-size: 0.5em; */
  transform-origin: 100%;
  transform: rotate(90deg);
  transition: all 0.05s;
  /* transition-timing-function: cubic-bezier(0.1, 2.7, 0.58, 1); */
  transition-timing-function: linear;
  border-radius: 30px;
}

.hour-hand{
    height: 20px;
    font-size: 1em;
}
.min-hand{
    height: 15px;
    font-size: 0.75em;
}
.second-hand{
    height: 10px;
    font-size: 0.5em;
}